.cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-left: 30px;
    margin-right: 30px;
}
.card_white {
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.35);
    font-family: "Roboto";
}
.card_white img {
    width: 95%;
}
h3{
    font-family: "Roboto";
    font-size: 30px;
    margin-top: 3%;
}
h4 {
    font-family: "Roboto";
    text-decoration: solid;
    font-size: 40px;
    margin-left: 10%;
}
.lowcost {
    margin-top: 7%;
}
h5 {
    font-family: "Roboto";
    font-size: 15px;
   text-decoration: solid;
}
img {
    border-radius: 7px;
}

@media (min-width: 576px) {
    .cards {
        grid-template-columns: 1fr;
    }
   }

@media (min-width: 768px) { 
    .cards {
        grid-template-columns: 1fr;
    }
 }

@media (min-width: 992px) { 
    .cards {
        grid-template-columns: 1fr 1fr;
    }
 }

@media (min-width: 1200px) { 
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
 }

@media (min-width: 1400px) { 
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
 }