.search
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search input 
{
    width: 300px;
    border: 2px solid black;
    padding: 6px 10px;
    border-radius: 30px;
}
.search i {
    position: absolute;
    margin-left: 270px;
}
li {
    font-family: "Robot";
}
ul {
    padding: 0px;
    font-family: "Roboto";
    font-size: small;
}
nav ul{
    list-style-type: none;
}
nav li {
    float: right;
    width: 18%;
    text-align: center;
    border-top-right-radius: 7px;
    border-bottom: 2px solid red;
}
#hub {
    float: left;
    width: 10%;
    text-align: center;
    border-top-right-radius: 7px;
    border-bottom: 2px solid red;
}

nav ul::after{
content: "";
display: table;
clear: both;
}
nav {
    position: sticky;
    top: 0px;
}
nav a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-family: "Roboto";
    font-size: 150%;
}
nav a:hover{
color: white;
border-top: 2px solid red;
border-left:2px solid red ;
border-right: 2px solid red;
background-color: black;
border-top-right-radius: 7px;
border-top-left-radius: 7px ;
}